<div class="my-2 d-flex justify-content-center">
  <h3>Cadastro</h3>
</div>

<%= form_for @user do |f| %>
  <%= render 'shared/errors', object: @user %>

  <div class="row g-3">
    <div class="col-12">
      <div class="col-md-6 mx-auto">
        <%= f.label :email, class: 'form-label' %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
    </div>

    <div class="col-12">
      <div class="col-md-6 mx-auto">
      <%= f.label :password, class: 'form-label' %>
      <%= f.password_field :password, class: 'form-control' %>
      </div>
    </div>

    <div class="col-12">
      <div class="col-md-6 mx-auto">
      <%= f.label :password_confirmation, class: 'form-label' %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </div>

    <div class="col-12">
      <div class="col-md-6 mx-auto">
      <%= f.submit 'Cadastrar', class: 'btn btn-primary btn d-block mx-auto' %>
      </div>
    </div>

  </div>
<% end %>
