<div class="px-3 py-5">
  <%= link_to 'Novo Curso', new_course_path %>

  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th width="50">#</th>
          <th width="*%">Title</th>
          <th width="100">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @courses.each do |course| %>
          <tr>
            <td><%= course.id %></td>
            <td><%= course.title %></td>
            <td>
              <a class="btn btn-sm btn-outline-secondary" href="<%= edit_course_path(course) %>" title="Editar"><i class="bi bi-pencil-square"></i></a>
              <a href="<%= course_path(course) %>" class="btn btn-sm btn-outline-secondary" data-turbo-method="delete" data-turbo-confirm="Tem certeza?" title="Remover"><i class="bi bi-trash3"></i></a>
            </td>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>
