<div class="my-2 d-flex justify-content-center">
  <h3>Entrar</h3>
</div>

<%= form_for @user_session do |f| %>
  <%= render 'shared/errors', object: @user_session %>

  <div class="row g-3">
    <div class="col-12">
      <div class="col-md-6 mx-auto">
        <%= f.label :email, class: 'form-label' %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
    </div>

    <div class="col-12">
      <div class="col-md-6 mx-auto">
        <%= f.label :password, class: 'form-label' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
    </div>

    <div class="col-12">
      <div class="col-md-6 mx-auto">
        <%= f.label :remember_me, class: 'form-label' %>
        <%= f.check_box :remember_me %>
      </div>
    </div>

    <div class="col-12">
      <div class="col-md-6 mx-auto">
      <%= f.submit "Entrar", class: 'btn btn-primary btn d-block mx-auto' %>
      </div>
    </div>
  </div>
<% end %>
